<%= link_to analyze_user_path(twitter_user.uid, twitter_user_id: twitter_user.id) do %>
  <div class="friend-list--friend">
    <div class="friend-list--friend_left">
      <div class="friend-list--friend__image"><%= image_tag twitter_user.profile_image %></div>
    </div>
    <div class="friend-list--friend_right">
      <div class="friend-list--friend__name"><%= twitter_user.name %></div>
      <div class="friend-list--friend__screen_name">@<%= twitter_user.screen_name %></div>
    </div>
  </div>
<% end %>
