<div class="table_partial">
  <table class="tweets_table">
    <thead>
      <tr>
        <th>User</th>
        <th>Text</th>
        <th>Classification</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% tweets.each do |tweet| %>
        <tr>
          <td><%= tweet.user_handle %></td>
          <td><%= (Twitter::Autolink.auto_link tweet.tweet_text).html_safe %></td>
          <td><%= tweet.classification %></td>
          <td><%= link_to '', tweet, method: :delete, class: 'fa fa-trash' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
