<div class="container">
  <h1>Tweets</h1>

  <%= link_to 'get 10 more tweets', create_training_data_url %> <br><br><br>

  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>

  <%= render partial: 'tweets/table', locals: { tweets: @tweets } %>
</div>